.h1 {
  text-align: center;
}

.img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.p {
  text-indent: 10%;
  display: block;
}
.center {
    text-align: center;
}

#p1 {
  color:springgreen;
}

.p2 {
  color: #4d90fe;
}

/*************************************************************************/

/*ul li on top*/
.ul_topnav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #000000;
}

.li_topnav {
    float: left;
    border-right:1px solid #bbb;
}

.li_topnav:last-child {
    border-right: none;
}

.li_topnav a {
    display: block;
    color: #ffffff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-weight: bold;
}

.li_topnav a:hover:not(.active) {
    background-color: #d1d1d1;
}

.active_topnav {
    background-color: #4dd5fe;
}

/*************************************************************************/

.ul2 {
  display: block;
  list-style-type: disc;
  margin-top: 1em;
  margin-bottom: 1 em;
  margin-left: 0;
  margin-right: 0;
  padding-left: 40px;
}